
<!-- /////////////First Exercise/////////////// -->

<h1 class="exerciseHeading">Excerise 1</h1>
<%= @firstExercise.slice(0) %>
<br>
<br>
<%= @firstExercise.slice(1) %>

<% if @firstExercise.slice(2) == 1 %>
  <p>Category: Arms</p>
<% end %>
<% if @firstExercise.slice(2) == 2 %>
  <p>Category: Legs</p>
<% end %>
<% if @firstExercise.slice(2) == 3 %>
  <p>Category: Warm Up</p>
<% end %>
<% if @firstExercise.slice(2) == 4 %>
  <p>Category: Cool Down</p>
<% end %>

<% if @firstExercise.slice(3) == 0 %>
  <p>Equipment: 0 Required</p>
<% end %>
<% if @firstExercise.slice(3) == 1 %>
  <p>Equipment: Dumb Bells</p>
<% end %>
<% if @firstExercise.slice(3) == 2 %>
  <p>Equipment: Bike</p>
<% end %>
<% if @firstExercise.slice(3) == 3 %>
  <p>Equipment: Rower</p>
<% end %>

<!-- /////////////Second Exercise/////////////// -->

<h1 class="exerciseHeading">Excerise 2</h1>
<%= @secondExercise.slice(0) %>
<br>
<br>
<%= @secondExercise.slice(1) %>

<% if @secondExercise.slice(2) == 1 %>
  <p>Category: Arms</p>
<% end %>
<% if @secondExercise.slice(2) == 2 %>
  <p>Category: Legs</p>
<% end %>
<% if @secondExercise.slice(2) == 3 %>
  <p>Category: Warm Up</p>
<% end %>
<% if @secondExercise.slice(2) == 4 %>
  <p>Category: Cool Down</p>
<% end %>

<% if @secondExercise.slice(3) == 0 %>
  <p>Equipment: 0 Required</p>
<% end %>
<% if @secondExercise.slice(3) == 1 %>
  <p>Equipment: Dumb Bells</p>
<% end %>
<% if @secondExercise.slice(3) == 2 %>
  <p>Equipment: Bike</p>
<% end %>
<% if @secondExercise.slice(3) == 3 %>
  <p>Equipment: Rower</p>
<% end %>

<!-- /////////////Third Exercise/////////////// -->

<h1 class="exerciseHeading">Excerise 3</h1>
<%= @thirdExercise.slice(0) %>
<br>
<br>
<%= @thirdExercise.slice(1) %>

<% if @thirdExercise.slice(2) == 1 %>
  <p>Category: Arms</p>
<% end %>
<% if @thirdExercise.slice(2) == 2 %>
  <p>Category: Legs</p>
<% end %>
<% if @thirdExercise.slice(2) == 3 %>
  <p>Category: Warm Up</p>
<% end %>
<% if @thirdExercise.slice(2) == 4 %>
  <p>Category: Cool Down</p>
<% end %>

<% if @thirdExercise.slice(3) == 0 %>
  <p>Equipment: 0 Required</p>
<% end %>
<% if @thirdExercise.slice(3) == 1 %>
  <p>Equipment: Dumb Bells</p>
<% end %>
<% if @thirdExercise.slice(3) == 2 %>
  <p>Equipment: Bike</p>
<% end %>
<% if @thirdExercise.slice(3) == 3 %>
  <p>Equipment: Rower</p>
<% end %>
